# Project exclude paths
.DS_Store
/cmake-build-debug/
Benchmarks/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
libTFE_MAPF.a
TFE_MAPF_test
TFE_MAPF_visu
cmake-build
cmake-build-debug-coverage
.vim
Plotting/result*
docs/
